<ul class="flex-box-container">
    <% classes.forEach(session => {%> 
      <li class="flex-box-coloured" onclick="window.location.href='/room/<%= session.id %>'">
          <span class="session-subject-name"><%= session.subject %></span>
          <span class="session-subject-topic"><%= session.topic %></span>
          <span class="session-timing"><%= session.tfrom %> - <%= session.tto %>
              <span class="session-date">(<%= session.date.toLocaleDateString('en-US',{month: 'short', day: 'numeric'}) %>)</span>
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 30" stroke="currentColor" stroke-width="3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
          </svg>
      </li>
    <% }) %> 
</ul>